#pragma once

// Copy to Config.h, fill locally, and do not commit Config.h.
#define WIFI_SSID "YOUR_WIFI_NETWORK"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define TELEGRAM_BOT_TOKEN "YOUR_TELEGRAM_BOT_TOKEN"
#define TELEGRAM_CHAT_ID_PRIMARY "YOUR_PRIMARY_CHAT_ID"
#define TELEGRAM_CHAT_ID_SECONDARY "YOUR_SECONDARY_CHAT_ID"
#define FIREBASE_DATABASE_URL "https://YOUR_PROJECT-default-rtdb.firebaseio.com"
#define FIREBASE_DATABASE_AUTH "YOUR_DATABASE_SECRET_OR_TOKEN"
#define CAMERA_SNAPSHOT_URL "http://CAMERA_LOCAL_ADDRESS/cgi-bin/snapshot.cgi?channel=1"
#define CAMERA_USERNAME "YOUR_CAMERA_USERNAME"
#define CAMERA_PASSWORD "YOUR_CAMERA_PASSWORD"
#define CAMERA_STREAM_URL "http://LOCAL_STREAM_HOST:8888/cam/index.m3u8"
